Repository thebetar/VonkProgrammingVue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

test: test lintstaged
  src/main.ts
Due: eslint

revert: reverted testing change
  src/main.ts
Due: eslint

added commitlinting
  .commitlintrc.json
  .eslintrc
  .eslintrc.js
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

chore: test #testing change
  package.json
Due: none

chore: revert testing change #reverted testing change made to package.json to test precommit
  .husky/pre-push
  package.json
Due: none

chore: test commitlinting
  .husky/commit-msg
  package.json
Due: none

chore: test commit linting
  package.json
Due: none

chore: added standard-version to project
  package-lock.json
  package.json
Due: none

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: moved postcss to after astro build hooks
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  postcss.config.cjs
  purgecss.blocklist.mjs
  src/utils/astro-purge.mjs
Due: none

refactor: code refactors
  package-lock.json
  package.json
  src/App.vue
  src/components/Contact/ContactComponent.vue
  src/components/Footer/FooterComponent.vue
  src/components/Home/HomeComponent.vue
  src/components/Navigation/NavigationComponent.vue
  src/components/Navigation/SidedrawerComponent.vue
  src/components/Portfolio/PortfolioListComponent.vue
  tsconfig.json
Due: eslint, stylelint

refactor: improved colors and added validatorjs
  package-lock.json
  package.json
  src/components/Contact/ContactComponent.vue
  src/components/Home/MiscRow.vue
  src/components/Portfolio/PortfolioListComponent.vue
  src/plugins/vuetify.ts
  vue.config.js
Due: eslint, stylelint

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style: homepage redesign
  public/assets/home/me.jpg
  public/assets/svg/connection.svg
  public/assets/svg/cypress.svg
  public/assets/svg/express.svg
  public/assets/svg/jest.svg
  public/assets/svg/linux.svg
  public/assets/svg/nestjs.svg
  public/assets/svg/prisma.svg
  public/assets/svg/process.svg
  public/assets/svg/tailwind.svg
  public/assets/svg/typescript.svg
  public/assets/svg/webpage.svg
  src/App.scss
  src/components/Home/DevelopmentCard.vue
  src/components/Home/HomeComponent.vue
  src/components/Home/IdeaRow.vue
  src/components/Home/MiscRow.vue
  src/components/Home/ProcessCard.vue
  src/components/Home/TechRow.vue
Due: eslint, stylelint

style: redesign website finished
  public/assets/svg/arrow-down.svg
  src/App.scss
  src/components/Contact/ContactComponent.vue
  src/components/Home/HomeComponent.vue
  src/components/Portfolio/PortfolioListComponent.vue
  src/components/Portfolio/PortfolioListItemComponent.vue
  src/pages/PortfolioPage.vue
  src/plugins/vuetify.ts
Due: eslint, stylelint

fix: fixed stylelint issues
  .stylelintrc
  src/App.scss
  src/components/Contact/ContactComponent.vue
  src/components/Home/HomeComponent.vue
  src/components/Home/MiscRow.vue
  src/components/Home/TechRow.vue
  src/components/Portfolio/PortfolioListComponent.vue
  src/components/Portfolio/PortfolioListItemComponent.vue
  src/pages/PortfolioPage.vue
Due: eslint, stylelint

ci: removed stylelint from pipeline
  .github/workflows/publish.yml
  src/components/Home/MiscRow.vue
Due: eslint, stylelint

Revert "ci: removed stylelint from pipeline"
  .github/workflows/publish.yml
  src/components/Home/MiscRow.vue
Due: eslint, stylelint

fix: fixed build
  .github/workflows/publish.yml
  astro.config.mjs
  package-lock.json
  package.json
  src/components/Contact/ContactComponent.vue
  src/components/Home/HomeComponent.vue
  src/components/Home/MiscRow.vue
  src/components/Home/TechRow.vue
  src/components/Portfolio/PortfolioListItemComponent.vue
  src/pages/HomePage.vue
  src/pages/index.astro
  tsconfig.json
Due: eslint, stylelint

fix: small style fixes
  src/components/Home/HomeComponent.vue
  src/components/Home/MiscRow.vue
  src/components/Home/TechRow.vue
Due: eslint, stylelint

feat: reenabled optimisation
  astro.config.mjs
Due: none

chore(release): 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style: improved styling for portfolio list
  src/components/Portfolio/PortfolioListComponent.vue
  src/components/Portfolio/PortfolioListItemComponent.vue
  src/components/Portfolio/PortfolioPreviewComponent.vue
Due: eslint, stylelint

fix: fixed stylelinting errors
  .stylelintrc
  src/components/Contact/ContactComponent.vue
  src/components/Home/HomeComponent.vue
  src/components/Portfolio/PortfolioListItemComponent.vue
  src/components/Portfolio/PortfolioPreviewComponent.vue
Due: eslint, stylelint

style: added animation to start of homepage
  astro.config.mjs
  package-lock.json
  package.json
  public/assets/svg/connection.svg
  public/assets/svg/eslint.svg
  public/assets/svg/git.svg
  public/assets/svg/nginx.svg
  public/assets/svg/programming.svg
  public/assets/svg/redux-logo-svgrepo-com.svg
  public/assets/svg/sass.svg
  public/assets/svg/stylelint.svg
  src/assets/programming.svg
  src/components/Home/HomeComponent.vue
  src/components/Home/MiscRow.vue
  src/components/Home/TechRow.vue
  src/components/Portfolio/PortfolioListComponent.vue
  src/components/Portfolio/PortfolioListItemComponent.vue
Due: eslint, stylelint

fix: fixed stylelint issues
  src/components/Home/HomeComponent.vue
Due: eslint, stylelint

style: added animation to start of homepage
  src/components/Home/HomeComponent.vue
Due: eslint, stylelint

style: added more animations to start home screen
  src/components/Home/HomeComponent.vue
Due: eslint, stylelint

feat: skills added
  public/assets/svg/material-design.svg
  public/assets/svg/stackoverflow.svg
  public/assets/svg/vscode.svg
  src/App.scss
  src/components/Contact/ContactComponent.vue
  src/components/Footer/FooterComponent.vue
  src/components/Home/HomeComponent.vue
  src/components/Home/MiscRow.vue
  src/components/Home/TechRow.vue
  src/components/Navigation/NavigationComponent.vue
  src/components/Portfolio/PortfolioListComponent.vue
  src/components/Portfolio/PortfolioPreviewComponent.vue
Due: eslint, stylelint

chore: updated homecomponent desktop svg sizing for mobile devices i
  src/components/Home/HomeComponent.vue
Due: eslint, stylelint

fix: fixed text from overflowing in tech row
  src/components/Home/TechRow.vue
Due: eslint, stylelint

fix: also added max-width for overflow in techrow
  src/components/Home/TechRow.vue
Due: eslint, stylelint

chore: fixed security risk dep vite
  package-lock.json
Due: none

fix: fixed lighthouse score and readded line for field
  purgecss.safelist.mjs
  src/components/Home/HomeComponent.vue
  src/components/Home/TechRow.vue
Due: eslint, stylelint

chore: fixed broken text fields and improved css
  purgecss.blocklist.mjs
  purgecss.safelist.mjs
  src/App.scss
  src/components/Footer/FooterComponent.vue
  src/components/Navigation/NavigationComponent.vue
Due: eslint, stylelint

chore: fixed small buttons on contact card
  purgecss.blocklist.mjs
  purgecss.safelist.mjs
Due: none

chore: minimized image
  public/assets/home/me-min.jpg
  public/assets/home/me.jpg
  src/components/Home/HomeComponent.vue
Due: eslint, stylelint

Path conditions:
  eslint: (any of: *.ts) or (any of: *.vue)
  stylelint: (any of: *.vue) or (any of: *.scss)
